<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>
        Estudiante de segundo año de Universidad en la carrera
        de Ingeniería en Sistemas, actualmente en el cuarto semestre, 
        con un Master en JavaScript. Me considero una persona 
        responsable y con gran capacidad de aprender nuevas cosas, que
        le gustan los retos al igual que tengo una facilidad de adaptación.
    </p>
</article>